@if (Model.Length != 0) {
    foreach (Portal.Models.Blog blog in Model)
    {
        @Html.Partial("_BlogPreView", blog)
    }
}
else
{
    <div class="container search-error-wrap">
        <div class="search-error">
            К сожалению, по вашему запросу ничего не найдено
        </div>
    </div>
}