@model Portal.Controllers.Blog

@{
    ViewBag.Title = "Blog";
}

<h2>Blog @Model.id</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Author</td>
            <td>Date</td>
        </tr>
    </thead>
    @foreach (Portal.Controllers.Article article in Model.articles) {
        <tr>
            <td>@Html.ActionLink(article.id.ToString(), "index", "articles", new { @id = article.id }, null)</td>
            <td>qwerty</td>
            <td>21.12.2012</td>
        </tr>
    }
    
</table>

