@using Portal.Models
@model Blog

@{
    ViewBag.Title = "Edit blog";
}

@using( Html.BeginForm( "edit", "blogs", new { @id = Model.ID }, FormMethod.Post ) ) {
    <div class="container blog-wrap">
        <div class="blog-preview">
            @Html.EditorFor( m => m.Name, new { htmlAttributes = new { @class = "blog-create-input", @placeholder = "Enter blog name" } } )
            <input class="btn blog-create-button" type="submit" value="Сохранить" />
            @Html.ValidationMessageFor( m => m.Name )
        </div>
    </div>
}