@model Portal.Controllers.Blog[]
@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Rating</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Portal.Controllers.Blog blog in Model)
        {
            <tr>
                <td>@Html.ActionLink(blog.id.ToString(), "blog", new { @id = blog.id })</td>
                <td>0.5</td>
            </tr>
        }
    </tbody>
</table>

