.delete-button {
    display: inline-block;
    color: white;
    border-radius: 30px;
    margin-top: 10px;
    background: #FF0F0F;
    width: 150px;
}

.delete-button:hover {
    color: #FF8D8D;
}

.role-edit-button {
    display: inline-block;
    background: #ffffff;
    border-radius: 30px;
    margin-top: 10px;
    color: #FF8D8D;
    width: 150px;
}

.admin-form {
     display: inline;
     margin: 0px;
     padding: 0px;
}

.person-admin-name {
    float: left;
    color: #808080;
    font-size: 17px;
    margin-top: 10px;
}

.person-admin-name:hover {
    color: black;
    text-decoration: none;
}

.course-name {
    margin-left: 10px;
    color: #808080;
    font-size: 17px;
}

.course-name:hover {
    color: black;
    text-decoration: none;
}

.person-student-name{
    float: left;
    color: #808080;
    font-size: 17px;
    border-bottom: 1px dotted;
    border-bottom-color: #808080;
}

.person-student-name:hover {
    color: #000000;
    border-bottom: none;
}

.person-student-name-text {
    float: left;
    color: #808080;
    font-size: 17px;
    margin-top: 10px;
}

.person-student-name-text:hover {
    color: #808080;
    text-decoration: none;
}

.admin-buttons {
    vertical-align: top;
    text-align: right;
    margin-left: 50px;
}