.article {
    background-color: white;
    text-align: left;
    padding: 25px;
    margin-bottom: 25px;
}

.article-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.article-settings {
    display: inline-block;
    vertical-align: middle;
    background: white;
}

.article-settings-menu {
    min-width: 95px;
    width: 95px;
}

.article-settings-btn {
    padding: 5px;
}

.open > .article-settings-btn {
    background: #F0F0F0;
}

.article-settings ul {
    background: white;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: -1px;
}

.open ul li {
    background: #F0F0F0;
    border: none;
    border-radius: 0;
    margin-top: -1px;

    padding: 5px 5px 5px 40px;
}

.article-header {
    min-height: 50px;
    position: relative;
}

.article-wrap {
    width: 60%;
    min-width: 600px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
}

.date {
    color: #9B9B9B;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 30px;
    position: static;
}

.rating {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.rating div {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.rating-plus {
    color: #7ED321;
}

.rating-minus {
    color: #FF0F0F;
}
.author {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    position: static;
}

.author img {
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.comment {
    text-align: left;
    background: white;
    margin-bottom: 10px;
    padding: 25px;
}

.comment-header {
    position: relative;
    min-height: 50px;
    text-align: left;
    margin-bottom: 10px;
}

.article-preview {
    background-color: white;
    text-align: left;
    padding: 25px;
}

.blog-wrap {
    text-align: center;
    width: 60%;
    min-width: 600px;
}

.blog-header {
    display: inline-block;
    background: white;
    min-height: 60px;
    width: 100%;
    border-radius: 35px;
    margin-top: 15px;
    position: relative;
    text-align: center;
    padding:  15px 25px;
}

.blog-preview {
    display: inline-block;
    background: white;
    min-height: 60px;
    width: 100%;
    margin-top: 15px;
    position: relative;
    text-align: center;
    padding:  15px 25px;
}

.blog-author {
    position: absolute;
    left: 25px;
}

.blog-title {
    display: inline-block;
    vertical-align: middle;
    position: static;
    margin: 10px;
}

.blog-articles-length {
    color: #9B9B9B;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

.blog-header .author {
    left: 25px;
}

.add-comment-input {
    width: 100%;
    border: none;
}

.add-comment-button {
    margin-top: 20px;
    display: block;
    color: #FF8D8D;
    background: #FF0F0F;
    border-radius: 30px;
    padding: 0 15px;
}

.add-comment-button:hover {
    color: white;
}