.article {
    background-color: white;
    text-align: left;
    padding: 25px;
    margin-bottom: 25px;
}

.article-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.article-settings {
    display: inline-block;
    vertical-align: middle;
    background: #9B9B9B;
}

.article-settings ul {
    background: #9B9B9B;
    padding: 5px;
    border: none;
    border-radius: 0;
    margin-top: -1px;
}

.article-settings ul li {
    background: #9B9B9B;
    padding: 5px;
    border: none;
    border-radius: 0;
    margin-top: -1px;
    max-width: 51px;
}

.article-header {
    min-height: 50px;
    position: relative;
}

.article-wrap {
    width: 60%;
    min-width: 500px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
}

.date {
    color: #9B9B9B;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
}

.rating {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.rating div {
    display: inline-block;
    vertical-align: middle;
}

.author {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.author img {
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.comment {
    text-align: left;
    background: white;
    margin-bottom: 10px;
    padding: 25px;
}

.comment-header {
    position: relative;
    min-height: 50px;
}

.article-preview {
    background-color: white;
    text-align: left;
    padding: 25px;
}

.blog-wrap {
    text-align: center;
    width: 60%;
    min-width: 500px;
}

.blog-header {
    display: inline-block;
    background: white;
    min-height: 60px;
    width: 100%;
    border-radius: 35px;
    margin-top: 15px;
    position: relative;
    text-align: center;
    padding: 15px;
}

.blog-header h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.blog-articles-length {
    color: #9B9B9B;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.blog-header .author {
    left: 25px;
}