.course-wrap {
    width: 60%;
    min-width: 600px;
    
    padding-top: 15px;
    margin-top: 15px;
}

.course {
    background-color: white;
    text-align: left;
    padding: 10px 20px 50px 20px;
    margin-bottom: 25px;
}

.course-preview {
    background-color: white;
    text-align: left;
    padding: 10px 20px 50px 20px;
}

.course-description {
    margin-bottom: 10px;
}

.course-students {
    text-align: center;
}

.course-student {
    display: inline-block;
    margin: 10px;
}

.course-student img {
    height: 45px;
    width: 45px;

    border-radius: 50%;
}

.course-teachers {
    text-align: center;
}

.course-teacher {
    display: inline-block;
    margin: 10px;
}

.course-teacher-image {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;

    border: 1px dotted #CCC;
    text-align: center;
}

.course-teacher img {
    height: 45px;
}

.course-duration {
    text-align: center;
}

.course-materials {
    text-align: center;
}

.course-filter-wrap {
    text-align: center;
    width: 60%;
    min-width: 600px;
}

.course-filter {
    display: inline-block;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 25px 15px 0;
}

.course-filter a {
    margin: 0 10px;
    display: inline-block;
    color: black;
}

.course-active-link {
    color: red !important;
}

.course-blogs {
    display: inline-block;
    padding: 5px 0 15px;
    font-size: 18px;
}

.course-programm {
    display: inline-block;
    text-align : right;
    float : right;
}

.course-grade{
}

.course-basepart {
}

.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    display: inline-block;
}

.hide:checked + label {
    color: black;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block;
    background: white;
}

.course-list-of-students {
    background: white;
    margin-bottom: 15px;
    padding: 20px;
}

.course-list-of-students label {
    cursor: pointer;
}

.course-students-table {
    padding: 20px 0;
}

.course-student-info-link {
    color: black;
    border-bottom: 1px dotted;
}

.course-student-info-link:hover{
    color: black;
    border-bottom: none;
    text-decoration: none;
}

.course-lesson-list {
    background: white;
    padding: 15px;
}
.course-file-attached-link {
    display:block;
}
.course-add-lesson {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
}

.course-lesson-description {
    margin-bottom: 15px;
}
.course-add-lesson-input {    
    width: 100%;
    border:1px solid lightgrey;
}

.course-add-lesson-input:focus {    
    width: 100%;
    border:1px solid lightsteelblue;
}

.course-lesson-description-field {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 8px;  
}

.course-menu-item {
    font-size: 10px;
}

.course-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.course-settings {
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
}
.course-settings-btn {
    padding: 5px;
}
.course-header {
    min-height: 50px;
    position: relative;
}

.course-settings-menu {
    min-width: 120px;
    width: 120px;
}

.course-menu-item {
    font-size: 10px;
}

.open > .course-settings-btn {
    background: #F0F0F0;
    min-width: 120px;
    width: 120px;
}

.course-settings ul {
    background: white;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: -1px;
    box-shadow: none;
}

.open ul li {
    background: #F0F0F0;
    border: none;
    border-radius: 0;
    margin-top: -1px;

    padding: 0 5px;
}

.open ul li a {
    padding: 0;
    display: inline-block;
}

.open ul li a:hover {
    padding: 0;
    border-bottom: 1px dotted;
    display:inline-block;
    background: #F0F0F0;
}

.add-course-button{
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.add-course-button:active, .add-course-button:focus {
    outline: none;
}

.add-course-button img {
    width: 40px;
    height: 40px;
}

.course-create-wrap {
    width: 60%;
    min-width: 600px;
    text-align: left;
    padding: 25px;
    margin-top: 15px;
    background-color: white;
}

.course-create-wrap input[type=text], .course-create-wrap input[type=number], .course-create-wrap input[type=date] {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.course-create-wrap img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}