.course-wrap {
    width: 60%;
    min-width: 600px;
    
    padding-top: 15px;
    margin-top: 15px;
}

.course {
    background-color: white;
    text-align: left;
    padding: 10px 20px 50px 20px;
    margin-bottom: 25px;
}

.course-preview {
    background-color: white;
    text-align: left;
    padding: 10px 20px 50px 20px;
}

.course-description {
    margin-bottom: 10px;
}

.course-students {
    text-align: center;
}

.course-student {
    display: inline-block;
    margin: 10px;
}

.course-student img {
    height: 45px;
    width: 45px;

    border-radius: 50%;
}

.course-teachers {
    text-align: center;
}

.course-teacher {
    display: inline-block;
    margin: 10px;
}

.course-teacher img {
    height: 45px;
    width: 45px;

    border-radius: 50%;
}

.course-duration {
    text-align: center;
}

.course-materials {
    text-align: center;
}

.course-filter-wrap {
    text-align: center;
    width: 60%;
    min-width: 600px;
}

.course-filter {
    display: inline-block;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 25px 15px 0;
}

.course-filter a {
    margin: 0 10px;
    display: inline-block;
    color: black;
}

.course-active-link {
    color: red !important;
}

.course-blogs {
    padding: 5px 0 15px;
    font-size: 18px;
}

.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    display: inline-block;
}

.hide:checked + label {
    color: black;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block;
    background: white;
}

.course-list-of-students {
    background: white;
    margin-bottom: 15px;
    padding: 20px;
}

.course-list-of-students label {
    cursor: pointer;
}

.course-students-table {
    padding: 20px 0;
}

.course-student-info-link {
    color: black;
    border-bottom: 1px dotted;
}

.course-student-info-link:hover{
    color: black;
    border-bottom: none;
    text-decoration: none;
}