.person-wrap {
    width: 60%;
    min-width: 600px;
}

.person-part-name {
    padding: 15px 15px 5px;
    font-size: 20px;
    color: #9B9B9B;
}

.person-grid-preview {
    background: white;
    display: inline-block;
    width: 30%;
    min-width: 200px;
    text-align: center;
    padding: 20px;
    margin: 1%;
    color: #9B9B9B;
}

.person-grid-preview-image {
    height: 150px;
    width: 150px;
    overflow: hidden;   
    border-radius: 50%;
    border: #DDD dotted 1px;
}

.person-grid-preview-image img {
    height: 150px;
    margin: 0 -50% 15px -50%;
}

.person-name {
    color: black;
    font-size: 17px;
    margin-top: 10px;
    display: block;
}

.person-name:hover {
    color: black;
    text-decoration: none;
}

.person-info {
    border-top: solid 1px;
    margin: 15px 0;
    text-align: left;    
    padding-top: 5px;
}

.person {
    background: white;
    margin-top: 30px;
    padding: 35px;
}

.person-general-info {
    padding-bottom: 20px;
    position: relative;
}

.person-general-info-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.person-general-info img {
    height: 200px;
    display: inline-block;
}

.person-info-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}

.person-info-text .person-contacts {
   margin-top: 35px;
}

.person-contacts {
    font-size: 14px;
}

.person-contacts-no-phone::after {
    color: transparent;
    content: "|";
}

.person-contacts a {
    color: #9B9B9B;
    text-decoration: none;
    display: block;
    vertical-align: middle;
}

.person-contacts a span {
    border-bottom: 1px dotted;
}

.person-contacts a span:hover {
    border-bottom: none;
}

.person-contacts a:hover {
    color: #9B9B9B;
}

.person-type {
    font-size: 13px;
    color: #9B9B9B;
}

.person-blogs {
    border-top: solid 1px #9B9B9B;
    padding-bottom: 15px;
}

.person-blogs a {
    color: #9B9B9B;
    text-decoration: none;
    padding: 10px 0;
}

.person-blog {
    padding: 5px 0;
}

.person-courses {
    border-top: solid 1px #9B9B9B;
}

.person-courses a {
    color: #9B9B9B;
    text-decoration: none;
    padding: 10px 0;
}

.person-course {
    padding: 5px 0;
}

.person-preview {
    background: white;
    padding: 15px;
    margin: 15px;
    position: relative;
}

.person-preview-image {
    height: 60px; 
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border: #DDD dotted 1px;
}

.person-preview-image img {
    height: 60px; 
    margin: 0 -50% 0 -50%;
    display: inline-block;
}

.person-preview .person-info-text {
    margin-left: 20px;
}

.person-preview-phone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30%;
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.person-preview-phone span {
    border-bottom: 1px dotted;
}

.person-preview-phone span:hover{
    border-bottom: 1px none;
}

.person-preview-phone:hover {
    text-decoration: none;
    color: black;
}

.person-preview-mail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.person-preview-mail span {
    border-bottom: 1px dotted;
}

.person-preview-mail span:hover{
    border-bottom: 1px none;
}

.person-preview-mail:hover {
    text-decoration: none;
    color: black;
}

.person-edit-name-input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.person-edit-name-input:focus, .person-edit-name-input:active {
    display: inline-block;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.person-edit-field {
    color: black;
    font-size: 16px;
    display: block;
}

.person-edit-button {
    display: inline-block;
    color: white;
    border-radius: 30px;
    background: #FF0F0F;
    margin-top: 15px;
    width: 150px;
}

.person-edit-button:hover {
    color: #FF8D8D;
}

.person-edit-cancel-button {
    display: inline-block;
    background: #9B9B9B;
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    width: 150px;
}

.person-edit-cancel-button:hover {
    color: black;
}

.person-edit-buttons {
    text-align: center;
}

.person-goto-edit-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #9B9B9B;
    color: white;
    border-radius: 30px;
}