/*$dark_red='#E40000';
$light_red='#FF8D8D';
$bright_red='#FF0F0F';
$dark_grey='#4C4C4C';
$light_grey='#9B9B9B';
$facebook_blue='#3B5998';
$vk_blue='#45668E';*/

body {
    background-color: #F0F0F0;
    margin-top: 52px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
}

input:focus {
    border: none;
    outline: none;
}

select:focus {
    border: none;
    outline: none;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.search-bar{
    max-height: 50px;
    background-color: #FF0F0F;
    width: 100%;
    padding: 0 10px;
}

.portal-navbar {
     position: fixed;
     top: 0; 
     left: 0; 
     width: 100%; 
     border-radius: 0; 
     z-index: 10;
}

.search-wrap {
    width: 60%;
    min-width: 600px;
    position: relative;
    padding: 5px;
}

.search-input {
    width: 80%;
}

.search-input .input-group-addon {
    background: #ffffff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
}

.search-input input {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    box-shadow: none;
}

.search-input input:focus {
    box-shadow: none;
}

.search-bar-button {
    background-color: #ffffff;
    color: #FF0F0F;
    border-radius: 20px;
    display: table;
    position: absolute;
    top: 0px;
    right: 5px;
    width: 15%;
}

.search-bar-button:active {
    border: none;
    outline: none;
}

.search-bar-button:focus {
    border: none;
    outline: none;
}

.search-grid-radio {
    background: white;
    min-height: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
}

.search-general {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.search-additional {
    display: inline-block;
    position: absolute;
    right: -20px;
    vertical-align: middle;
}

.search-additional a {
    color: black;
    text-decoration: none;
}

.search-additional a:hover {
    text-decoration: none;
}

.search-grid-radio .checked {
    color: red;
}

.search-person-select {
    background: white;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 15px;
    width: 50%;
}

.search-person-select select {
    border: none;
    height: 34px;
    border-radius: 20px;
    text-indent: 25px;
    width: 90%;
}

