body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
    padding-top: 84px;
}

.navbar{
    height: 84px;
    background-color: #E40000;
    border: none;
    color: #FE8C8B;
}

.navbar-header{
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: none;
}

.navbar-collapse.collapse {
    height: 100% !important;
}

.navbar-inverse .navbar-brand {
    color: #FE8C8B;
    height: 100%;
    font-size: 40px;
    line-height: 50px;
}

@media(max-width: 400px) {
    .navbar-brand {
        display: none;
    }
}

.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FE8C8B;
    line-height: inherit;
}
.nav{
    height: 100%;
}

.navbar-nav > li{
    height: 100%;
    font-size: 28px;
    line-height: 54px;
    background-color: #E40000;
}

@media(min-width: 798px) {
    .navbar-right {
        width: 200px;
        padding: 10px;
        margin: 0;
    }

    .navbar-right > li {
        float: right;
        width: 200px;
        text-align: right;
        display: inline-grid;
        margin: 0;
        padding: 0;
        line-height: 0.1;
        font-size: 17px;
    }
}


.navbar-inverse .navbar-toggle{
    border-color: #FE8C8B;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FE8C8B;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: #E40000;
    width: 100%;
}

.navbar-right{

}
