body {
    background-color: #F0F0F0;
    margin-top: 52px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container {
    padding: 0;
    max-width: none;
}

.search-bar{
    height: 84px;
    background-color: #FF0F0F;
    display: block;
    width: 100%;
    box-shadow: 0px 4px 4px #AAAAAA;
    margin: 0;
    margin-bottom: 4px;
}

.portal-navbar {
     position: fixed;
     top: 0; 
     left: 0; 
     width: 100%; 
     border-radius: 0; 
     z-index: 10;
}


.search-bar .search-input{
    max-width: none;
    font-size: 24px;
    color: #FF0F0F;
    border: none;
    float:left;
    margin-left: -2px;
    height: 40px;
    display: table-cell;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline:none;
    width:100%;
}


.search-bar .container{
    margin: auto;
    max-width: 1170px;
}
.search-bar .cell-right{
    width:150px;
    padding-right: 8px;
}

.search-bar .btn {
    background-color: #ffffff;
    float:right;
    margin:0;
    padding-top: 2px;
    padding-right:25px;
    padding-left:25px;
    height: 40px;
    color: #FF0F0F;
    font-size: 24px;
    border-radius: 20px;
    display: table-cell;
}


@media(max-width: 767px) {

    .search-bar .cell-right{
     width:0;
    }
    .search-bar .btn {
        display: none;
    }
    .search-bar .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

