@using Microsoft.AspNet.Identity
@using Portal.Models

@{ 
    Person currentUser = ApplicationDbContext.Create().Users.Where(p => p.UserName == User.Identity.Name).FirstOrDefault();
}
@if (Request.IsAuthenticated && currentUser != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(currentUser.Email, "person", "persons", routeValues: new { id = currentUser.Id }, htmlAttributes: new { title = "Manage", @class = "login-user-info" })
            <a class="login-user-info" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
        </li>
        <li><a class="login-user-img-link" href=@Url.Action("person", "persons", new { id = currentUser.Id })><img src=@currentUser.Picture.URL /></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
