<form action=@ViewBag.Action method="post" class="search-bar">
    <div class="container search-wrap">
        <div class="search-general" style=@(ViewBag.ExtendType == "person" ? "width:60%" : "")>
            <div class="input-group search-input">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                @if (ViewBag.SearchValue != null)
                {
                    <input class="form-control" value="@ViewBag.SearchValue" type="text" name="SearchFor">
                }
                else
                {
                    <input class="form-control" placeholder="Search" type="text" name="SearchFor">
                }
            </div>
            <input class="search-bar-button btn" type="submit" value="Search" />
        </div>
        <div class="search-additional" style=@(ViewBag.ExtendType == "person" ? "width:40%" : "display:none")>
            <div class="search-grid-radio">
                <a href=@Url.Action("index", "persons", new { view = "grid", type = ViewBag.Type })><img class="icon icon-person" src="@((ViewBag.View == "grid") ? "/images/icons/gridOnIcon.png" : "/images/icons/gridOffIcon.png")" /></a>
                <a href=@Url.Action("index", "persons", new { view = "normal", type = ViewBag.Type })><img class="icon icon-person" src="@((ViewBag.View != "grid") ? "/images/icons/listOnIcon.png" : "/images/icons/listOffIcon.png")" /></a>
            </div>
            <div class="search-person-select">
                <select onchange="location = this.options[this.selectedIndex].value;">
                    <option value=@Url.Action("index", "persons", new { view = ViewBag.View, type = "all" })>All</option>
                    @if (ViewBag.Type == "teachers")
                    {
                        <option value=@Url.Action("index", "persons", new { view = ViewBag.View, type = "teachers" }) selected>Teacher</option>
                    }
                    else
                    {
                        <option value=@Url.Action("index", "persons", new { view = ViewBag.View, type = "teachers" })>Teacher</option>
                    }
                    @if (ViewBag.Type == "students")
                    {
                        <option value=@Url.Action("index", "persons", new { view = ViewBag.View, type = "students" }) selected>Student</option>
                    }
                    else
                    {
                        <option value=@Url.Action("index", "persons", new { view = ViewBag.View, type = "students" })>Student</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>
