
<div class="search-bar">
    <div class="container">
        <a class="btn" style="
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
    padding-right: 2px;
    padding-left: 8px;">
            <img src="images/search.png" style="margin-top:3px;margin-bottom:5px;"/>
        </a>
        <input class="search-input" placeholder="Search">
        <a class="btn">Search</a>
    </div>
</div>
