<form action=@ViewBag.Action method="post" class="search-bar">
    <div class="container search-wrap">
        <div class="input-group search-input">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" placeholder="Search" type="text" name="SearchFor">
        </div>
        <input class="search-bar-button btn" type="submit" value="Search" />
    </div>
</form>
