@model List<ModelError>
@{
    ViewBag.Title = "Error";
}

<div class="error-page-wrap">
    @if( Model != null && Model.Count() > 0 ) {
        <div class="container search-error-wrap">
            <div class="search-error">
                Some errors occurred while processing your request:
            </div>

            @foreach( ModelError error in Model ) {
                <div class="search-error">
                    @error.ErrorMessage
                </div>
            }
        </div>
    } else {
        <div class="container search-error-wrap">
            <div class="search-error">
                You were redirected to error page, but everything seems to be OK. <br/>Please, contact site administrator if you do think something's going wrong.
            </div>
        </div>
    }
</div>
