@using Portal.Models
@model Program
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form action="~/Program/Create" method="post">
    @Html.EditorFor(m => m.Name)<br />
    @Html.DropDownList("Courses", (IEnumerable<SelectListItem>)ViewBag.Courses)<br />
    <input type="submit" value="Create" />
</form>


