@using Portal.Models
@model Program
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<form action="~/Programs/@Model.ID/Edit" method="post">
    @Html.EditorFor(m => m.Name)<br />
    @Html.DropDownList("Courses", (IEnumerable<SelectListItem>)ViewBag.Courses)<br />
    <input type="submit" value="Save Changes" />
</form>


