@using Portal.Models
@model Program

@{
    ViewBag.Title = "Program";
}

<div class="container article-wrap">
    <div class="article-preview">
        <div class="article-header">
            @foreach(var c in Model.Courses)
            {
                <div>
                    @c.Name
                </div>
            }
            @if (User.IsInRole("admin"))
                {
                    <div class="article-settings dropdown">
                        <div class="article-settings-btn" data-toggle="dropdown"><img class="icon" src="~/images/icons/settingsIcon.png" />Actions</div>
                        <ul class="dropdown-menu article-settings-menu">
                            <li>@Html.ActionLink("Delete", "Delete", "Programs", new { @id = Model.ID }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Edit", "Edit", "Programs", new { @id = Model.ID }, new { @class = "" })</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
        <h3>@Model.Name</h3>
</div>
