@using Portal.Models
@model Person

<div class="person">
    <a href=@Url.Action("person", new { @id=Model.Id })><img src=@Model.Picture.URL /></a>
    @Html.ActionLink(Model.First_Name+ Model.Second_Name, "person", new { id=Model.Id }, new { @class="person-name" })
    <div class="person-info">
        <a href="tel:@Model.Phone">@Model.Phone</a>
        <a href="mailto:@Model.Email">@Model.Email</a>
    </div>
</div>
