@using Portal.Models
@model Person

<div class="person-preview">
    <a href=@Url.Action("person", new { @id=Model.Id })><img src=@Model.Picture.URL /></a>
    <div class="person-info-text">
        @Html.ActionLink(Model.First_Name + " " + Model.Second_Name, "person", new { id = Model.Id }, new { @class = "person-name" })
        @if (Model.Person_Type == "Teacher")
        {
            <div class="person-type">Teacher</div>
        }
        else
        {
            <div class="person-type">Student</div>
        }
    </div>
    <a class="person-preview-phone" href="tel:@Model.Phone">@Model.Phone</a>
    <a class="person-preview-mail" href="mailto:@Model.UserName">@Model.UserName</a>
</div>
