@model Portal.Models.Person[][]

@Html.Partial("_Search", @"Persons")
@if (Model[0].Length != 0 || Model[1].Length != 0)
{
    if (ViewBag.View == "grid")
    {
        @Html.Partial("_PersonGridPreviewList", Model)
    }
    else
    {
        @Html.Partial("_PersonPreviewList", Model)
    }
}
else
{
    <div class="container article-wrap">
        <div class="article-preview">
            <h1> Ничего не найдено</h1>
        </div>
    </div>
}
