@model Portal.Models.Course
<div class="col-md-8">
    <h2>@Model.Name</h2>
    <p>@Model.Description.Substring(0, (Model.Description.Length > 500) ? 500 : Model.Description.Length)</p>
    <p><a class="btn btn-default" href="">Читать далее &raquo;</a></p>
</div>

