@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Студенческий портал</h1>
    <p class="lead">Самый лучший портал в мире!</p>
</div>

@Html.Partial("_ArticlePreViewList", (Portal.Models.Article[])Model)