@using Portal.Models
@model Article
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<form action="~/Articles/@Model.ID/Edit" method="post">
    @Html.EditorFor(m => m.Name) @Html.ValidationMessageFor(m => m.Name)<br />
    @Html.EditorFor(m => m.Text)<br />
    @Html.DropDownList("Blogs", (IEnumerable<SelectListItem>)ViewBag.Blogs)
    <input type="submit" value="Submit" />
</form>


